.videogames {
  background-color: #1c063f;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: center;

  .all-videogames {
    display: flex;
    justify-content: center;
    padding-top: 50px;

    img {
      width: 350px;
    }
  }
}

.videogame-bg {
  background-image: url("../../HOME/assets/BG_Cartucho-03-01.png");
  background-repeat: no-repeat;
  background-size: contain;
  -o-object-fit: cover;
  object-fit: cover;
  height: 400px;
  width: 400px;
  position: relative;
}

.info-games {
  width: 150px;
  font-family: "Upheaval";
  color: white;
  margin-left: 80px;
}

.game-title {
  margin-top: 70px;
}

.game-image {
  height: 100px;
  position: absolute;
  left: 230px;
  top: 127px;
}
