.divs-shops{
    background-color: #1c063f;
    height: 800px;

    h1{
        font-family: "Upheaval";
        font-size: 80px;
        color: white;
        margin-left: 300px;
        padding-top: 60px;
    }
}